@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    background-color:black;
    font-family: 'Monstserrat', sans-serif;
}

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 200px;
    background-color: #000000;
    /* background-color: #1a1010; */
    /* background-color:white; */
    padding: 24Px;
   
}

.logo img  {
    width: 130px;
}
.navigation ul {
    list-style: none;
    margin-top: 20px;
}
.navigation ul li {
    padding: 10px 0px;
}

.navigation ul li a {
    color: #b3b3b3;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    
}

.navigation ul li.fa {
    font-size: 20px;
    margin-right: 10px;
}

 .navigation ul li a:hover {
    /* color: #000000; */ 
    color: red;
}

.policies {
    position: absolute;
    bottom: 100px;
}

.policies ul {
    list-style: none;
}

.policies {
    padding-bottom: 5px;
}

.policies ul li a {
    color: #160c0c;
    font-weight: 500;
    text-decoration: none;
    font-size: 10px;
}

.policies ul li a:hover {
    text-decoration: underline;
}

.main-container {
    margin-left: 250px;
    margin: bottom 100px;
}

.topbar {
    display: flex;
    justify-content: space-between;
    background-color: #000000;
    /* background-color: #ffffff; */
    padding: 14px 30px;
    
}

.previousnextbutton {
    color: #7a7a7a;
    cursor: not-allowed;
    width: 34px;
    height: 34px;
    border-radius: 100%;
    font-size: 18px;
    border: 0px;
    /* background-color: #090909; */
    margin-right: 10px;
}

.navbar {
    display: flex;
    align-items: center;
}

.navbar ul {
    list-style: none;
}

.navbar ul li {
    display: inline-block;
    margin: 0px 8px;
    width: 70px;
}

.navbar ul li a {
    /* color: #b3b3b3; */
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 1px;
}

.navbar ul li a :hover {
    color: #ffffff;
    font-size: 15px;
}

.navbar button {
    background-color: #ffffff;
    /* background-color: #000000; */
    color: #000000;
    /* color: gray; */
    font-size: 16px;
    font-weight: bold;
    padding: 14px 30px;
    border: 0px;
    border-radius: 40px;
    cursor: pointer;
    margin-left: 20px;
}

.navbar button:hover {
    background-color: #f2f2f2;
    /* background-color: #000000; */
    
}

.spotify-playlists {
    padding: 20px 40px;
    ;
}
 p{
    color: #ffffff;
 }
.spotify-playlists h2 {
    color: #ffffff;
    font-size: 22px;
    margin-bottom: 20px;
}
details{
    background-color:black;
    color: #ffffff;
    
}
 
.list {
    display: flex;
    gap: 20px;
    overflow: hidden;
}

.item {
    min-width: 140px;
    width: 160px;
    padding: 15px;
    background-color: #181818;
    border-radius: 6px;
    cursor: pointer;
    transition: all ease 0.4s;
}

.item:hover {
    background-color: #252525;
    box-shadow: 5px 10px 18px  rgb(128, 0, 6);
}

.item img {
    width: 100%;
    border-radius: 6px;
    margin-bottom: 10px;
}
.play {
    position: relative;
}

.play{
    position: absolute;
    right: 10px;
    top: -60px;
    padding: 18px;
    background-color: #1db954;
    border-radius: 100%;
    opacity: 0;
    transition: all ease 0.4s;
}

 .item:hover.play.fa {
    opacity: 1;
    transform: translateY(-20px);
}
h4{
    color: #ffffff;
    font-size: 14px;
    margin-bottom: 10px;
    font-weight: 600;
    text-transform: uppercase;
    white-space:inherit;
    text-overflow: ellipsis;
}
hr{
    margin: 70px 0px 0px ;
    border-color: #636363;
}
.preview{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background:linear-gradient(to-right,#ae2896,#509bf5) ;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    background-color:#ffffff ;
}
.preview h6{
    color: #b73737;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px;
    margin-bottom: 10px;
}
.preview p{
    color: #af3232;
    font-size: 14px;
    font-weight: 500;
}
.preview button{
    /* background-color: #784d4d; */
    background-color:  wheat;
    /* color: #000000; */
    font-size: 16px;
    font-weight:bold ;
    padding: 14px 30px;
    border: 0px;
    border-radius: 40px;
cursor: pointer;
}
.footer{
margin-top: 80px;
}
